<div>
  <%= for post <- @posts do %>
    <a href="<%= Routes.blog_path(@conn, :show, post) %>">
    <img src="<%= PhoenixCmsWeb.Uploaders.Cover.url({post.cover, post}, :thumb) %>" alt="Card image">
    <div>
      <%= post.title %>
      <br><br><p><%= markdown(post_excerpt(post)) %></p>
    </div>
    <div>
      <small>
        <%= format_date(post) %> by
        <strong><%= post.user.name %></strong>
      </small>
    </div>
    </a>
    <% end %>
</div>
