<div>
  <div>
    <h1><%= @post.title %></h1>
    <br>
    <p><%= @post.user.name %></p>
    <br><br>
  </div>

  <%= markdown(@post.body) %>

</div>

<%= render PhoenixCmsWeb.CommentView, "form.html", Map.put(assigns, :action, Routes.user_comment_path(@conn, :create, @post)) %>
